* {
  background: rgb(32,32,32);
  color: whitesmoke;
  font-family: avenir, arial, helvetica, sans-serif;
  font-size: large;
  padding: 10px;
  border-radius: 10px;
  transition: 0.25s;
}

body {
  text-align: center;
}

#box {
  margin-top: 25vh;
}

input:hover, button:hover {
  background: lime;
  color: black;
}

#input {
  width: 50vw;
  text-align: center;
}

button {
  visibility: hidden;
}

#extract button:not(#lock) {
  border: transparent;
  color: rgb(32,32,32);
}
